@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import "tailwindcss";


@theme {

    --color-mars-sidebarBackground: #171B2E;
    --color-mars-background: #111526;
    --color-mars-orange: #FF6A00;
    --color-mars-line: #222842;
    --color-mars-itemBackground: #171C31;


    --font-sans: "Lexend Zetta", sans-serif;

}
@utility text-gradient-mars {
    background-image: linear-gradient(90deg, #666666 29%, #FF6A00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility bg-gradient-mars {
    background-image: linear-gradient(180deg, #666666 29%, #FF6A00 100%);
}
@utility bg-gradient-mars-horizontal {
    background-image: linear-gradient(90deg, #666666 29%, #FF6A00 100%);
}

body {
    background-color: var(--color-mars-background);
    margin: 0;

}
font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
